<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">



    <context:annotation-config />


    <context:component-scan base-package="org.huluo">
    </context:component-scan>


    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>


    <!-- XML 与 Java 数据转换  -->
    <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <!--common XML 映射  JavaBean 注册  -->
                <value>org.huluo.spring.restfuloneresourcemultipresentation.entity.User</value>
                <!-- 不需要在这里绑定，原因是controller里采用ResponseBody进行返回 -->
                <!-- <value>org.huluo.spring.restfuloneresourcemultipresentation.entity.User</value>  -->
            </list>
        </property>
    </bean>
    <!--通过此类我们可以实践Restful的一个资源多种表现形式的原则-->
    <bean  class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="1" />
        <!--启用后缀名来指定客户端期望的返回数据格式,如.json返回json数据.xml返回xml文档.html返回html文档-->
        <property name="favorPathExtension" value="true"/>
        <!--是否根据请求的参数决定restful资源的表达形式-->
        <property name="favorParameter" value="false" />
        <!--是否根据accept头信息来决定restful的表达形式-->
        <property name="ignoreAcceptHeader" value="true" />
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json" />
                <entry key="xml" value="application/xml" />
            </map>
        </property>
        <!--默认的视图-->
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>
                <!-- 转换Java对象为XML格式数据 -->
                <bean class="org.springframework.web.servlet.view.xml.MarshallingView">
                    <constructor-arg ref="jaxbMarshaller" />
                </bean>
            </list>
        </property>
    </bean>
    <!--如果在ContentNegotiatingViewResolver类中没有找到相对应的视图,则使用jsp的视图-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="2" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    </bean>

</beans>